# This module does the sentiment analysis of the reviews data

In [1]:
import pandas as pd
import numpy as np
from pymongo import MongoClient
from dotenv import load_dotenv
import os
import urllib.parse
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn import set_config
import nltk
nltk.download('punkt_tab')
from joblib import Parallel, delayed
from nltk.tokenize.regexp import RegexpTokenizer
import time

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\apoor\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [2]:
set_config(display='diagram')

### Loading the data

In [3]:
# Loading the environment varibles
try:
   load_dotenv("login.env", override=True)
   username = os.getenv("username")
   username = urllib.parse.quote_plus(username)
   password = os.getenv("password")
   password = urllib.parse.quote_plus(password)
   print("environment variable loaded successfully")
except Exception as e:
   print(f'environment variable not able to load: {e}')

connection_string = f'mongodb+srv://{username}:{password}@cluster0.elvspmq.mongodb.net/'

environment variable loaded successfully

In [4]:
# checking the connection with the databse
try:
   mongocli = MongoClient(connection_string)
   print("database connected successfully")
except Exception as e:
   print(f'Error occured while connection to database: {e}')

database connected successfully

In [5]:
#creating the database

cluster = mongocli["contentrecommendation"]
collection = cluster["reviews"]
data = collection.find()
reviews = list(data)
db = pd.DataFrame(reviews)

In [6]:
db = db.drop("_id", axis= 1)
db.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,1,True,"01 6, 2018",A2VOA9Z3QNDNRI,B000YFSR5G,"{'Size:': ' X-Large', 'Color:': ' Charcoal Hea...",Amazon Customer,These are cheaply made sweat shop pants not go...,These are cheaply made sweat shop pants not go...,1515196800,NaN,NaN
1,5,True,"01 5, 2018",A1GQPW286SLV69,B000YFSR5G,"{'Size:': ' Medium', 'Color:': ' Light Steel'}",Bhargav Kanakiya,Very nice pair! Helps my legs stay warm.,Five Stars,1515110400,NaN,NaN
2,3,True,"01 5, 2018",A343KWSY5I3ZCU,B000YFSR5G,"{'Size:': ' X-Large', 'Color:': ' Black'}",Roger M.,"Smaller size, needed a size larger. I miss not...",Three Stars,1515110400,NaN,NaN
3,5,True,"01 5, 2018",A1ARUODW18J2KV,B000YFSR5G,"{'Size:': ' Large', 'Color:': ' Black'}",Heni,"Arrived on time. Perfect but a little baggy, s...",Perfect but a little baggy,1515110400,NaN,NaN
4,5,True,"01 4, 2018",ARPP0CUQFJ6N6,B000YFSR5G,"{'Size:': ' Medium', 'Color:': ' Light Steel'}",ilande,Great considering the price of $7!,Buy a size smaller than you think you need.,1515024000,NaN,NaN

In [7]:
print(db[db["verified"] == True].shape[0])
print(db[db["verified"] == False].shape[0])

325492
24508

In [8]:
print(db[db["verified"]==False].shape[0])

24508

In [9]:
print(db["vote"].isna().sum())
print(db["image"].isna().sum())

311263
337928

# Creating a data pipeline which takes in the data and automates the overall data cleaning process
### Follwing are the requiremnts:
1. Remove non verified reviews if they are more than 5% of the total reviews.
2. Remove columns verified, vote, image. 
3. split column style.
4. convert unixReviewTime into a feature which gives an idea of how old the review is.
5. Change overall to categories
6. Drop numerical columns (reuse previously created transformer)
7. tokenize review text column
8. remove stopwords from review text column
9. sentiment analyse review text column store sentiment as a category
10. Based on the sentiment include labels from review text
11. make an array of labels for each user

In [10]:
# Creating a transformer for managing verified and non verified reviews
class verified(BaseEstimator, TransformerMixin):
    
    def __init__(self, threshold = 0.05):
        self.threshold = threshold
    
    def fit(self, x, y = 0):
        if "verified" in x.columns:
            self.number_of_non_verified =  x[x["verified"]==False].shape[0] 
        else:
            self.number_of_non_verified = 0
        return self
    def transform(self, x):
        if self.number_of_non_verified > self.threshold * x.shape[0]:
            x = x.drop("verified", axis=1)
            return x
        else:
            return x

In [11]:
# Create a transformer for removing columns vote and image

class dropcols(BaseEstimator, TransformerMixin):
    def __init__(self,colms):
        self.colms = colms
    def fit(self, x, y=0):
        return self
    def transform(self, x):
        x = x.drop(self.colms, axis = 1)
        return x

In [12]:
# Create a transformer for splitting column style

class splitStyle(BaseEstimator,TransformerMixin):

    def fit(self, x, y=0):
        return self
        
    def transform(self,x):
        result_colms = pd.json_normalize(x["style"])
        x = pd.concat([x,result_colms], axis=1)
        x = x.drop("style",axis=1)
        return x

In [13]:
# Create a transformer to convert review time into categories

class reviewage(BaseEstimator,TransformerMixin):
    def __init__(self ):
        pass


    def fit(self,x,y=0):
        if not isinstance(x,pd.DataFrame):
            raise AttributeError("Input must be a pandas dataframe")
        if "reviewTime" not in x.columns:
            raise AttributeError("Column not found in dataframe")
        
        x["reviewTime"] = pd.to_datetime(x["reviewTime"],format='%m %d, %Y')
        
        self.maxi = x["reviewTime"].max()
        self.mini = x["reviewTime"].min()
        self.range = self.maxi - self.mini
        self.part1 = self.mini + 0.50 * self.range
        self.part2 = self.part1 + 0.30 * self.range
        return self
    
    def transform(self,x):

        x_transformed = x.copy()
        conditions = [(x["reviewTime"] > self.mini) & (x["reviewTime"]  <= self.part1),
        (x["reviewTime"]  > self.part1) & (x["reviewTime"]  <= self.part2),
        (x["reviewTime"] > self.part2) & (x["reviewTime"]  <= self.maxi)]
        choices = ["old","new","latest"]
        x_transformed["reviewTime"] = np.select(conditions,choices,default="latest")

        return x_transformed

In [14]:
# Transformer to convert overall to categories

class ratingscore(BaseEstimator,TransformerMixin):
    def __init__(self):
        pass
    def fit(self, x,y=0):
        return self
    def transform(self,x):

        x_transformed = x.copy()

        conditions = [(x["overall"]<3),
                      (x["overall"] == 3),
                      (x["overall"]>3)]
        items = ["poor","average","good"]
        x_transformed["overall"] = np.select(conditions,items,default="poor")

        return x_transformed

In [15]:
# Transformer to tokenize the column values of "reviewText" column

class tokenize_text(BaseEstimator,TransformerMixin):
    def __init__(self):
        pass
    def fit(self,x,y=0):
        self.x = x
        return self
    def transform(self,x):
        res = Parallel(n_jobs=1)(delayed(tokenizer)(text) for text in x["reviewText"])
        res = pd.Series(res)
        x_transformed = pd.concat([x,pd.DataFrame(res,columns=["tokens"])], axis=1)
        x_transformed = x_transformed.drop(["reviewText"], axis=1)
        return x_transformed

def tokenizer(token):
        tokenize_constructor = RegexpTokenizer(pattern='\s+',gaps=True)
        tokens = tokenize_constructor.tokenize(str(token))
        return tokens

<>:17: SyntaxWarning: invalid escape sequence '\s'
<>:17: SyntaxWarning: invalid escape sequence '\s'
C:\Users\apoor\AppData\Local\Temp\ipykernel_3260\1033964443.py:17: SyntaxWarning: invalid escape sequence '\s'
  tokenize_constructor = RegexpTokenizer(pattern='\s+',gaps=True)

In [16]:
pipe = Pipeline([
    ("manageverified",verified(threshold=0.05)),
    ("splitstyles",splitStyle()),
    ("reviewage",reviewage()),
    ("overallrating",ratingscore()),
    ("tokenizetext",tokenize_text()),
    ("dropcolumns",dropcols(colms=["Item Display Length:","Team Name:","Package Quantity:", "Length:","Size Name:","vote","image","unixReviewTime"]))
    ])

In [17]:
result = pipe.fit_transform(db)
result.head()

,overall,reviewTime,reviewerID,asin,reviewerName,summary,Size:,Color:,Metal Type:,Style:,Format:,Style Name:,Material:,tokens
0,poor,latest,A2VOA9Z3QNDNRI,B000YFSR5G,Amazon Customer,These are cheaply made sweat shop pants not go...,X-Large,Charcoal Heather,NaN,NaN,NaN,NaN,NaN,"[These, are, cheaply, made, sweat, shop, pants..."
1,good,latest,A1GQPW286SLV69,B000YFSR5G,Bhargav Kanakiya,Five Stars,Medium,Light Steel,NaN,NaN,NaN,NaN,NaN,"[Very, nice, pair!, Helps, my, legs, stay, warm.]"
2,average,latest,A343KWSY5I3ZCU,B000YFSR5G,Roger M.,Three Stars,X-Large,Black,NaN,NaN,NaN,NaN,NaN,"[Smaller, size,, needed, a, size, larger., I, ..."
3,good,latest,A1ARUODW18J2KV,B000YFSR5G,Heni,Perfect but a little baggy,Large,Black,NaN,NaN,NaN,NaN,NaN,"[Arrived, on, time., Perfect, but, a, little, ..."
4,good,latest,ARPP0CUQFJ6N6,B000YFSR5G,ilande,Buy a size smaller than you think you need.,Medium,Light Steel,NaN,NaN,NaN,NaN,NaN,"[Great, considering, the, price, of, $7!]"

In [18]:
result.shape

(350000, 14)

In [19]:
test = db.copy()

In [20]:

def tokenizer(token):
        tokenize_constructor = RegexpTokenizer(pattern='\s+',gaps=True)
        tokens = tokenize_constructor.tokenize(str(token))
        return tokens

res = Parallel(n_jobs=5)(delayed(tokenizer)(text) for text in test["reviewText"])
# x_transformed = pd.concat([test,res], axis=1)

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\apoor\AppData\Local\Temp\ipykernel_3260\605365213.py:2: SyntaxWarning: invalid escape sequence '\s'
  tokenize_constructor = RegexpTokenizer(pattern='\s+',gaps=True)

In [21]:
type(res)

list

In [22]:
flag = pd.Series(res)
flag = pd.DataFrame(flag)
print(flag.iloc[4])

0    [Great, considering, the, price, of, $7!]
Name: 4, dtype: object